<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Done!</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <style>
        body{
           background: rgb(2,0,36);
           background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(73,73,98,1) 35%, rgba(0,212,255,1) 100%);
           font-family:  'Poppins', sans-serif;
        }
        .con{
            background-color: white;
            padding:15px;
            height:200px;
            width:400px;
            margin-left: 33%;
            margin-top: 16%;
            text-align: center;
            box-shadow: 0px 0px 40px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div class="con">
        <h3>Your Registration for the Workshop on Front-End development was done Successfully !</h3>
        <p>Check Your mail for Confirmation !</p>
        <p>See You there !!</p>
        
    </div>
</body>
</html>